-var images = ["A", "B", "C"]

include ../templates/header.jade

.wrapper
  section.project-wrapper
    .row
      .three.columns.project-sidebar
        p This is a passion project. It's a site that is dedicated to providing quality coloring sheets that celebrate Chinese culture and foster Chinese language learning. I continue to make these in my spare time.
        
        p Built with <a href="https://gohugo.io">hugo</a>

      .nine.columns.project-main
        p
          img(src="../images/little-ginsengs/screencapture-littleginsengs.png")

include ../templates/footer.jade
