-var images = ["A", "B", "C"]

include ../templates/header.jade

.wrapper
  section.project-wrapper
    .row
      .three.columns.project-sidebar
        p This client wanted a revamp of their site. An interesting challenge here included a request to put both partners names in the navbar. It would not have worked on mobile or web since this area is normally reserved for a compact logo. An atypical request yields atypical solutions and in this case, I opted for an animated one. This solution fits into a small screen, is ledgible, looks simple, clean and only required some extra CSS to add.

      .nine.columns.project-main
        p
          img(src="../images/phall/paulhallanimation.gif")
        p
          img(src="../images/phall/paulhall-screenshot.png")
include ../templates/footer.jade
