// develop
-var root="http://bluswtrs-macbook-air.local:5757/"

// test
//-var root="http://test.cheirieshum.com.s3-website-us-west-1.amazonaws.com/"

// production
//-var root="http://cheirieshum.com/"
