include templates/header.jade
.fixed-bg
  img.projects-index-fadein(src="images/flower-pattern-vector.png")
.wrapper

  section.intro
    p Hello and thanks for stopping by. Below is a display of some of my work to help you decide whether I'm the right fit for your project. Maybe you have questions? Are you wondering what you'll need to complete your vision? Don't see what you're looking for? <a href="mailto:hello@cheirieshum.com">Just ask!</a>

  section.projects-index
    .row.projects-index-center
      .four.columns.mini-view
        a(href="projects/phall.html")
          img(src="images/1-preview.png")

      .four.columns.mini-view
        a(href="projects/lumina.html")
          img(src="images/2-preview.png")

      .four.columns.mini-view
        a(href="projects/little-ginsengs.html")
          img(src="images/3-preview.png")

include templates/footer.jade
