doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title c.shum
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")

  body

    .fixed-bg
      img.projects-fadein(src="images/flower-pattern.png")
      img.contact-fadein(src="images/pencils.jpg")

    header.nav
      .logo
    .content

      section.intro
        p Hello and thanks for stopping by. Below is a display of some of my work to help you decide whether I'm the right fit for your project. Have questions? Wondering what you will need to complete your vision? Don't see what you're looking for? <a href="mailto:hello@cheirieshum.com">Just ask!</a>

      section.projects-index
        .row
          .four.columns.mini-view
            a(href="projects/phall.html")
              img(src="images/1-preview.png")

          .four.columns.mini-view
            a(href="projects/lumina.html")
              img(src="images/2-preview.png")

          .four.columns.mini-view
            img(src="images/3-preview.png")

    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.min.js")
