doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    title c.shum
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")

  body

    .fixed-bg
      img.github-fadein(src="images/flower-pattern.png")
      img.contact-fadein(src="images/pencils.jpg")

    header.nav
      .logo
    .content

      section.intro
        p Cheirie Shum wears many hats -- entreprenuer, manager, web developer, designer, artist. She hails from the Bay Area, running two businesses at one point, then writing software for a startup. What follows is a portfolio of her work amongst other fun things.

      section.projects
        .row
          .twelve.columns
            h2 Projects
        .row
          .four.columns.mini-view
            img(src="images/bikewme/ride_description.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          .four.columns.mini-view
            img(src="images/precisionhealth360/index.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          .four.columns.mini-view
            img(src="images/precisionhealth360/index.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      section.github
        .github-container
          .github-handle
            p <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/bluswtr">@bluswtr</a>

      section.links

      section.contact
        .contact-container
          .contact-handle
            p <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/bluswtr">@bluswtr</a>

    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.min.js")
