-var images = ["A", "B", "C"]

include ../templates/header.jade

.wrapper
  section.project-wrapper
    .row
      .three.columns.project-sidebar
        p Here is some work to show what I can do with Illustrator, Photoshop and a DSLR. Photography, designs and copy are my own. For more recent work that I did with Procreate see <a href=//littleginsengs.com>Little Ginsengs</a>. 
        
        p The cards and invitations here were done a while ago so they may feel dated but you should still get the sense that I love minimal, bright designs.
        
        p Other software in the design realm that I've dabbled in include InDesign where I did a layout of a coloring book. 

      .nine.columns.project-main
        p
          img(src="baby_shower_printable.png")
        p
          img(src="babyshower.png")
        p
          img(src="png_final.png")
        p
          img(src="ourweddinginvitation.gif")
        p
          img(src="savethedate.jpg")   
        p
          img(src="tablenames.gif")        
include ../templates/footer.jade
