footer
    p All words, images, illustrations and code by me. This site was built with codekit and written in jade, sass and javascript. See the code here.

    p Contact me by email or through instagram.

script(src=root+"js/jquery-2.1.3.min.js")
script(src=root+"js/functions.min.js")
